/* Reset */
html, body, header, nav, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
    background: linear-gradient(to bottom right, #4E80AF, #FBC4AB);
     color: #333; 
}

header {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

article {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

article h2 { 
    color: #333; 
    margin-bottom: 10px;
}

article p {
    margin-bottom: 10px;
}

article ul {
    margin-bottom: 10px;
}


